.pokemon-viewer {
    background-color: var(--black-color);
    color: var(--light-gray-color);
    width: 484px;
    padding: 44px 44px 16px;

    box-sizing: border-box;
}

.name {
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
}

.sprite {
    width: 200px;
    height: 200px;
    margin: 44px auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sprite img {
    object-fit: cover;
}

.stats {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;


    margin-top: 46px;
}