/*raleway-medium*/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url("fonts/Raleway/Raleway-Medium.ttf");
}

/*raleway-regualr*/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Raleway/Raleway-Regular.ttf");
}

/*raleway-bold*/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    src: url("fonts/Raleway/Raleway-Bold.ttf");
}