.chips-container{
    width: 980px;
    margin: 54px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chips-container .chips-wrap{
    width: 484px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 10px;

}

.chips-container .chips-wrap >*{
    margin-right: 6px;
}