.header {
    font-size: 12px;
    width: 980px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    border: 1px solid;
    border-color: var(--white-color);
    padding:4px 6px 3px;
}

.hint {
    display: flex;
    align-items: center;
}

.hint img {
    margin-right: 10px;
}

.hint div {
    width: 108px;
    line-height: 100%;
}